<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml"
    amlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="utf-8"/>
    </head>
    <body>
    <div align="center">
    <center>
    <br><hr>
    <table border="1">
    <thead>
    <tr>
    	<th>User</th>
    	<th>Ambiance</th>
    	<th>Drinks</th>
    	<th>Food</th>
    	<th>Service</th>
    	<th>Cleanliness</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r:${filteredratings}">
    	<td th:text="${r.user}">User</td>
    	<td th:text="${r.ambiance}">Ambiance</td>
    	<td th:text="${r.drinks}">Drinks</td>
    	<td th:text="${r.food}">Food</td>
    	<td th:text="${r.service}">Service</td>
    	<td th:text="${r.cleanliness}">Cleanliness</td>
    </tr>
    </tbody>
    </table>
    </center>
    </div>
    </body>
</html>